.taskList {
  margin: 20px auto;
  width: 80%;
  max-width: 500px;
  padding-top: 70px; 
}

.taskItem {
  background-color: #f9f9f9;
  color: #000;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
